
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.metadata/


*.iml
*local.properties
/.idea
/GeoCatching/.*
/GeoCatchingWebService/.*
*.DS_Store
/build
/GeoCatching/build
/captures

*.idea
*.class
*.lock
*.bin
# BlueJ files
*.ctxt

/Geocatching/build
/Geocatching/app/build

.mtj.tmp/

*.war
*.ear


Geocatching/app/src/main/gen/iut/unice/fr/geocatching/Manifest.java
Geocatching/app/src/main/gen/iut/unice/fr/geocatching/BuildConfig.java
Geocatching/app/src/main/gen/iut/unice/fr/geocatching/R.java
Geocatching/gradlew.bat
